.test{
  width: 500rpx;
  height: 100rpx;
}
.banner{
  width:750rpx;
  height: 400rpx;
  background-image: url(../../../images/banner.png);
}
.test1{
  background-image: url(../../../images/timg.jpg);
}