.moveMain{
  position: absolute;
  right: 0rpx;
  width: 100%;
  height: 100%;
}
.blockBox{
  display: flex;
  flex-wrap: wrap;
  width: 375px;
  height: 667px;
  background-color: #dddddd;
}
.test{
  background-image: url(../../../images/title.common.png);
}